body {
  font-family: "Fira Sans", serif;
}

.main-header .logo {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-size: 3.5rem;
}

.sidebar-menu {
  font-size: 1.5rem;
}

#searchBtn {
  margin: 0;
}

.action {
  padding: 5%;
  display: flex;
}

.site-panel {
  padding-top: 5%;
  padding-left: 10%;
}
