body {
  font-family: "Fira Sans", serif;
}

.main-header .logo {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-size: 3.5rem;
}

.sidebar-menu {
  font-size: 1.5rem;
}

.action {
  padding: 5%;
  display: flex;
}

.site-panel {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.model-info {
  width: 50%;
  margin: 2%;
}
